body {
    font: 14px -apple-system !important;
}

.main-body > ul {
    height: calc(100% - 25px);
    padding-top: 25px;
}

.opt-main > div:last-child {
    padding: 10px 10px 0 10px;
}

.friend-list {
    padding-top: 20px;
}

@media (max-width: 700px) {
    /* macOS 下忽略 500 档位，因为需要避开红绿灯按钮 */
    .pop-box-body {
        width: fit-content !important;
    }
    .opt-main > div:last-child {
        height: calc(100% - 15px) !important;
        padding-top: 30px !important;
    }
    .chat-pan {
        left: 0 !important;
    }
    .chat-info {
        width: calc(100% - 70px);
        height: calc(100% - 165px);
        padding-top: 20px;
    }
    .chat-pan > div.info {
        margin-top: 35px;
    }
    .chat-pan > div.info > svg {
        display: block;
    }
    .chat-pan.open {
        transform: translateX(100%);
    }
    .opt-main > div:last-child {
        padding: 33px 10px 0 10px;
    }
    
    .friend-list > div:first-child > div.small {
        margin-left: 12px;
    }
}
@media (max-width: 500px) {
    .chat-info {
        width: calc(100% - 30px);
        height: calc(100% - 125px);
        padding-top: 40px;
    }
}