body {
    font: 14px 'SF Pro Text', 'Source Han Sans', sans-serif !important;
}

#base-app.withBar {
    height: calc(100% - 35px);
    padding-top: 35px;
}

.top-bar {
    border-radius: 7px 7px 0 0;
    background: transparent;
    box-shadow: unset;
    height: 35px;
}
.top-bar>img, .top-bar>svg {
    height: 16px;
}
.top-bar>span {
    font-size: .8rem;
    line-height: 35px;
    font-weight: normal;
}
.top-bar>div.controller>div {
    padding: 7px;
}
.top-bar>div.controller>div>svg {
    height: 14px;
}

.main-body > div {
    margin-top: -35px;
    height: calc(100% + 35px);
}
.main-body > ul {
    margin-top: -35px;
    height: calc(100% + 35px);
    padding-left: 5px;
}

.top-bar {
    margin-bottom: 0 !important;
}
.top-bar>span,
.top-bar>img, .top-bar>svg {
    display: none;
}

.chat-pan.withBar {
    left: 275px !important;
    top: 0;
    height: calc(100% - 20px);
    padding-top: 20px;
}
.card-info-pan-bg {
    margin-top: -20px;
}
.chat-info {
    margin: calc(50vh - 20px) 0 0 50%;
}
.opt-main>div:last-child {
    padding-top: 25px !important;
    height: calc(100% - 17px) !important;
}
