#app {
    margin: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000045;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid #00000059;
}
#base-app.withBar {
    padding-top: 0;
    height: 100%;
}

.friend-list {
    background: var(--color-bg);
}
.main-body>ul {
    background: var(--color-bg);
    padding-left: 5px;
}
.friend-view>div:last-child {
    background: var(--color-card);
}
.friend-view>div:last-child>div {
    background: var(--color-card-1);
}
.friend-list>div:first-child {
    margin-left: 5px;
    margin-right: 25px;
}
.friend-list>div:last-child {
    margin-left: -10px;
}

.top-bar {
    border-radius: 7px 7px 0 0;
    width: calc(100% - 20px);
    background: transparent;
    box-shadow: unset;
    height: 35px;
}
.top-bar>span,
.top-bar>img, .top-bar>svg {
    display: none !important;
}
.top-bar>div.controller>div {
    padding: 7px;
}
.top-bar>div.controller>div>svg {
    height: 14px;
}

.chat-pan.withBar {
    height: calc(100% - 46px);
    top: 11px;
    margin-right: 10px;
    border-radius: 0 7px 7px 0;
    padding-top: 25px;
    left: 275px;
    box-shadow: -5px 0 4px -5px var(--color-shader);
}
.chat-pan>div.bg {
    backdrop-filter: blur(0px);
    margin-top: -25px;
    height: calc(100% + 1px);
    border-radius: 0 7px 7px 0;
}

.card-info-pan-bg {
    margin-top: -25px;
    height: calc(100% + 5px);
}
.chat-info {
    margin: calc(50vh - 25px) 0 0 50%;
}

.opt-main>div:last-child {
    padding-top: 25px;
    height: calc(100% - 25px);
}

@media (max-width: 700px) {
    .chat-pan.withBar {
        height: calc(100% - 105px)!important;
        left: 70px !important;
    }
    .chat-pan.open.withBar {
        left: 90px !important;
    }
    .friend-list {
        width: 60px !important;
    }
    .friend-list>div:first-child {
        margin: 55px 15px 0 8px !important;
        margin-left: 0 !important;
    }
    .friend-list>div:first-child>div.small>div {
        width: 35px;
        height: 35px;
        margin-right: 0;
    }
    .friend-list.open>div:first-child>div.small > div {
        height: 44px;
        width: 44px;
    }
    .friend-list>div:first-child>div.small {
        margin-top: -20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .friend-list>div:first-child {
        margin: 80px 15px 0 10px !important;
    }
}